.DateItem {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.TitleIcon {
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.Title {
   margin: 0 5px;
}