.ServiceCard {
   color: blueviolet;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 150px;
   height: 150px;
}

@media screen and (max-with:1200px) {
   .ServiceCard {
      width: 300px;
      height: 300px;   
   }  
}
