.AdminNavbar {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}

.UserProfile {
   display: flex;
   align-items: center;

}
.UserProfile > * {
   margin: 0 5px;
}
.Details .FullName {
   
}

.Details .Role {
   font-size: 12px;
   color:lightseagreen ;

}