.NavBox {
   box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.415);
}

.NavBox {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
}

.Nav {
   display: flex;
}
.Nav li {
   padding: 0 10px;
}
.Nav li {
   padding: 0 10px;
}
.Nav li > * {
   display: inline-block;
   width: 100%;
   transition: 0.5s;
}
.Nav li:hover > * {
   color: cornflowerblue;
} 

.BaseTitle {
   color: cornflowerblue;
   font-weight: bold;
}